.nav {
  text-align: center;
  z-index: 5;
}

.nav * {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.nav a {
  padding: .5em .8em;
  position: relative;
  font-size: 18px;
  padding: 10px 30px;
}

.nav a::before, .nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}

.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid white;
  border-right: 3px solid white;
  -webkit-transform: translate(-100%, 50%);
          transform: translate(-100%, 50%);
}

.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.nav a:hover {
  color: white;
}

.nav a:hover:before, .nav a:hover:after {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

h1 {
  color: white;
  text-shadow: 1px 2px 2px black, 0 0 25px #6565df, 0 0 5px #7e7eb8;
  text-align: center;
}

.galeria-youtube {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr;
      grid-template-columns: 2fr 2fr 2fr;
  -ms-grid-rows: 3fr 1fr;
      grid-template-rows: 3fr 1fr;
  text-align: center;
}

.video-1 {
  margin: 10px 20px;
  -webkit-box-shadow: 0 4px 8px 0 blue, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 blue, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 350px;
}

.video-2 {
  margin: 10px 20px;
  -webkit-box-shadow: 0 4px 8px 0 red, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 red, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 350px;
}

.video-3 {
  margin: 10px 20px;
  -webkit-box-shadow: 0 4px 8px 0 green, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 green, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 350px;
}

.video-1:hover {
  border: 1px solid lightblue;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.video-2:hover {
  border: 1px solid lightblue;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.video-3:hover {
  border: 1px solid lightblue;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.pie-txt {
  text-shadow: 2px 2px 5px gray;
  padding: 10px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

.img__marca, .img__marca__ecupro {
  width: 300px;
  height: 150px;
}

.img__marca__ecupro {
  border: 2px solid blue;
}

#header-text {
  background-color: #1d11cc;
  height: 130px;
}

#header-text h2 {
  margin-bottom: 0;
  color: white;
  font-family: 'GlacialIndifferenceBold';
  font-size: 50px;
  margin-left: 150px;
  padding-top: 20px;
}

#reparacion-ecu {
  color: #fff;
  font-size: 20px;
  background-image: url(../imagenes/curso-ecupro.png);
  background-size: 50vw 100vh;
}

@media screen and (max-width: 480px) {
  #header-text {
    background-color: #1d11cc;
    height: 60px;
  }
  #header-text h2 {
    margin-bottom: 0;
    color: white;
    font-family: 'GlacialIndifferenceBold';
    font-size: 20px;
    margin-left: 75px;
    padding-top: 10px;
  }
}
/*# sourceMappingURL=main.css.map */