* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'GlacialIndifferenceBold';
}
/* bootstrap index */
.img-index {
    border-radius: 7px;  /* curva */
    box-shadow: 3px 3px 5px 3px #999; /* sombra */
}
.titulos-index {
    letter-spacing: 0.1ch;
    
}
.sidebar-texto {
    color:#000000;
}
.encabezado-index {
    background-color: #f3f3f3;
}
/* encabezado txt 4 pag */
#header-text  {
    background-color: #1d11cc;
    height: 130px;
}

#header-text h2 {
    margin-bottom: 0;
    color: white;  
    font-family: 'GlacialIndifferenceBold';
    font-size: 50px;
    margin-left: 150px;
    padding-top: 20px;

} 
/* pag contacto iconos */
#contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(161, 159, 159);
    text-align: center;
    
}
#contacto .contacto-img img{
   max-width: 40%;
   max-height: 40%;
   margin-top: 15px;
}
#contacto .contacto-lista  {
    list-style: none;
    font-size: 20px;    
}


/* pagina ecupro */
.aparato-ecu {
    display: flex;
    align-items: center;
}
.aparato-ecu p {
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    padding: 1%;
}

#articulo .articulo-text {
    text-align: center;
    padding: 40px;
    font-size: 18px;
}
#articulo .listas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    padding-left: 47px;
    padding-top: 45px;
    grid-column-gap: 150px;
  
}
/* pag funcionamiento */  
/* #videos-youtube {
    grid-area: main;
} */

#videos-youtube .nose img {
    max-width: 10%;
    max-height: 10%;

}
.tamaño {
    max-width: 100%;
    max-height: 100%;
}
#videos-youtube .nose {
    background-color: #cccccc;
    align-items: center;
    padding: 1% 1%;
    display: flex;

}
#videos-youtube h5 {
    margin-left: 15px;
}
#videos-youtube h3 {
    text-align: center;
    background-color: #cccccc;
}

#videos-youtube .videos-youtube-text {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin: 150px 150px;
}
/* #videos-youtube .rotate {
  
    transform: rotateZ(3deg);
}
#videos-youtube .rotate2 {
   
    transform: rotateZ(-3deg); 

} */

/* pag cursos */

#reparacion-ecu { /* cont padre */
    color: #fff;
    font-size: 20px;
    background-image: url(../imagenes/curso-ecupro.png);
    background-size: 50vw 100vh;
} 

   


/* bootstrap esta si index y func */

.letrero {                
    padding: 4em;
}


/* pag contacto */

#formulario {
    background-image: url(../imagenes/img-contacto.jpg);
    background-size: 100vw 100vh;  /* ancho y alto de la ventana */
    background-attachment: fixed; /* no se mueve la img de fondo */
    padding: 15px;
       
}
#formulario .formulario-contacto {
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 20px 20px;
    border-radius: 7px; /* bordes form */
    
}
#formulario .formulario-contacto h3 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px; /* esp del form y titulo */
    
}
input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    font-size: 17px;

}
textarea {
    min-width: 100%;
    max-height: 200px;
    max-width: 100%;
}
#formulario .formulario-contacto .btn-formulario {
    background-color: #31384A;
    color: #fff;
    padding: 10px; 
}
#formulario .formulario-contacto .label {
    color: #fff;
    font-size: 25px;
    display: grid;
    text-align: center;
}
.btn-formulario:hover {
    cursor: pointer;
}




/* footer bootstrap */
.redes-iconos{
    text-decoration-line: none;

}


  /*   padding: 1rem 2rem;
    display: inline-block;
    border: 3px solid #333333;
    font-size: 1.5rem;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    letter-spacing: 0.1ch; /* separa letras */
   /*  background: #ffffff; */ 
    
   @media screen and (max-width: 480px) { /* desde 0 a 480 celu */
    #header-text  {
        background-color: #1d11cc;
        height: 60px;
    } 
    #header-text h2 {
        margin-bottom: 0;
        color: white;  
        font-family: 'GlacialIndifferenceBold';
        font-size: 20px;
        margin-left: 75px;
        padding-top: 10px;
    
    }  
    #contacto  {  /* iconos de pag contacto */
       display: flex;
       flex-direction: column;
        
    }
    #formulario .formulario-contacto { /* form principal de pag cont */
        width: 100%;
    }
    #videos-youtube .videos-youtube-text {
        display: flex;
        flex-direction: column;
    }
    .tamaño {
        max-width: 150px;
        max-height: 200px;
    }
    .nose {
        display: flex;
        flex-direction: column;
    }
 }