.img-index {
    border-radius: 7px;
    box-shadow: 3px 3px 5px 3px #999;
  }
  
  .titulos-index {
    letter-spacing: 0.1ch;
  }
  
  .sidebar-texto {
    color: #000000;
  }
  
  .encabezado-index {
    background-color: #f3f3f3;
  }