

h1 {
    font-size: 3rem;
    margin: 2rem;
    text-transform: capitalize;
    letter-spacing: .2rem;
    text-align: center;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.5);
    margin-top: 2%;
}
.galeria-youtube {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 0.5fr 2fr;
    text-align: center;
    border-radius: 6rem;
    justify-items: center;

}
@mixin video ($color) {
    margin: 50px 30px;
    box-shadow: 0 4px 8px 0 $color, 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 350px;
    overflow: hidden; /* recorta excedente no se sale la img */
    border-radius: 1rem;
    
    
}
.video-1 {
    @include video(blue)


}
.video-2 {
    @include video(red)

}
.video-3 {
    @include video(green)

}

@mixin hover-video {
    border: 1px solid lightblue;
    transform: rotate(-3deg);
    
}

.video-1:hover {
    @include hover-video;
    
}
.video-2:hover {
    @include hover-video;
    
}
.video-3:hover {
    @include hover-video;
    
}

.pie-txt {
    text-shadow: 2px 2px 5px gray;
    padding: 10px;
}