.aparato-ecu {
  background-color: #ededed;
    /* display: flex;
    align-items: center; */
    img {
      width: 100%;
    }
  
    p {
      font-size: 25px;
      text-align: center;
      text-decoration: underline;
      padding: 10%;
    }
  }
  
  #articulo {
    .articulo-txt {
      text-align: justify;
      padding: 40px;
    }
  
    .listas {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 15px;
      padding-left: 47px;
      padding-top: 45px;
      grid-column-gap: 150px;
    }
  }

  .img-marca{
    text-align: center;
  }